#!/usr/bin/make -f
export DH_VERBOSE = 1
export MAKE = ninja -v
export LANG=en_US
export LANGUAGE=en_US

%:
	dh $@

override_dh_clean:
	dh_clean
	rm -rf debian/build
ifeq ($(shell dpkg-vendor --derives-from Ubuntu && echo ubuntu),ubuntu)

	@if [ -e ./debian/ubuntu/applied ]; then \
		patch -R -p1 < debian/ubuntu/show_nm-applet_in_tray.patch ; \
		rm ./debian/ubuntu/applied ; \
	fi
endif

override_dh_auto_configure:
ifeq ($(shell dpkg-vendor --derives-from Ubuntu && echo ubuntu),ubuntu)
	patch -p1 < debian/ubuntu/show_nm-applet_in_tray.patch
	touch ./debian/ubuntu/applied
endif
	mkdir -p debian/build
	cd debian/build && LDFLAGS="-Wl,-z,now -Wl,-z,relro" meson --buildtype plain --prefix=/usr --libdir=/usr/lib --sysconfdir=/etc ../..
	cd debian/build && $(MAKE)

override_dh_installman:
	dh_installman debian/budgie-desktop.1
	dh_installman debian/budgie-panel.1
	dh_installman debian/budgie-polkit-dialog.1
	dh_installman debian/budgie-run-dialog.1
	dh_installman debian/budgie-wm.1
	dh_installman debian/budgie-daemon.1

override_dh_auto_build:
	cd debian/build && DESTDIR=$(CURDIR)/debian/tmp $(MAKE) install

override_dh_prep:

override_dh_auto_install:
	dh_auto_install
	# remove unrecognised and non ISO639 locale
	find debian -type d -name "zh-Hant" -print0 | xargs -r0 -- rm -r

override_dh_installgsettings:
	# install override but budgie has to take precedence over
	# gnome-shell defaults
	dh_installgsettings --priority=15
